.navbarCart {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #e3e3e3;
}
.navbarCart span {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #838383;
    letter-spacing: 0.5px;
}

@media only screen and (max-width:426px){
    .navbarCart{
        padding: 7px 0;
    }
    .navbarCart span{
        font-size: 10px;
    }
}