.homepage {
    font-family: "Manrope", sans-serif;

}

.top {
    /* display: flex; */
    position: relative;
    /* margin-top: 97px; */
}

/* .top .topLeft {
    width: 50%;
} */

.top .topLeft .image img {
    width: 100%;
}

.top .topRight {
 
    background-image: url('../../assets/bg2.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.top .topRight .rightDetails {
    display: flex;
    flex-direction: column;
}
.top .topRight .smallImg {
    display: block;
    /* position: absolute; */
    top: 5%;
    right: 12%;
    /* width: 149px; */
    height: auto;
    text-align: center;

}

.top .topRight .smallImg img {
    width: 25%;
}

.topRight .homeTitle {
    position: relative;
    top: 40%;
}

.topRight .homeTitle .homeContent {
    margin-left: 50px;
}

.topRight .homeTitle .homeContent .asterickImg {
    margin-bottom: 17px;
}

.topRight .homeTitle .homeContent .text h2 {
    font-size: 65px;
    font-weight: 500;
    letter-spacing: -3.5px;
    line-height: 65px;
}

.topRight .homeTitle .homeContent .text p {
    font-size: 13px;
    display: inline-block;
    width: 65%;
    font-weight: 400;
    color: #878787;
}

/* .topRight .homeTitle .homeContent .filterBtn .whiteBtn {
    border: 1px solid;
    background: #ffff;
    padding: 12px 28px;
    margin-right: 18px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.topRight .homeTitle .homeContent .filterBtn .whiteBtn:hover {
    background: #070707;
    color: #ffff;
}

.topRight .homeTitle .homeContent .filterBtn .BlackBtn {
    background: #070707;
    color: #ffff;
}

.topRight .homeTitle .homeContent .filterBtn .BlackBtn:hover {
    background: #fc5f49;
} */

.top .topRight .bigImg {
    /* position: absolute; */
    bottom: 0%;
    /* width: 190px; */
    right: 0;
    height: auto;
    text-align: right;
}

.top .topRight .bigImg img {
    width: 25%;
}

/* .marquee {} */
.marquee .marqueeText {
    display: flex;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    overflow: hidden;
    /* Hide overflowing content */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee .marqueeText .movingText {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 20px 15px;
    gap: 15px;
    flex-direction: row;
    animation: marquee 14s linear infinite;
    /* Enable the animation */
    margin-left: -8px;
    margin-bottom: 0;
    flex: 0 0 auto;
}

.marquee .marqueeText .movingText:hover {
    animation-play-state: paused;
}

.marquee .marqueeText:hover .movingText {
    animation-play-state: paused;
}

.marquee .marqueeText .movingText li {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 15px;
    display: flex;
    flex: 0 0 auto;
}

.marquee .marqueeText .movingText i {
    font-size: 5px;
}

.middleCover {
    display: flex;
    overflow: hidden;
}

.middle .filterItems {
    /* width: 50%; */
    border: 1px solid #070707;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.middle .filterItems img {
    width: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 5;
    position: relative;
}

.middle .filterItems:hover img {
    transform: scale(1.1);
}

.middle .filterItems .button {
    position: absolute;
    left: 20%;
    z-index: 10;
}

.middle .filterItems .button .filter {

    border: 1px solid #ebebeb;
    padding: 15px 46px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.3s linear
}

.middle .filterItems .button.men {
    left: 71%;
}

.middle .filterItems .button .filter:hover {
    color: #fc5f49;
}

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.brands .brandCover .brandItem {
    display: flex;
    justify-content: center;
}

.brands .brandCover .brandImg {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    max-height: 130px;
    margin: 0 50px;
    padding: 15px 0;
}

.brands .brandCover .brandImg img {
    width: 100%;
}

.productCover {
    display: flex;
    flex-direction: column;
}

.productCover .salesTitle {
    text-align: center;
}

.productCover .salesTitle h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 0;
}

.productCover .product .category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productCover .product .category .category-item {
    padding-bottom: 5px;
    margin: 15px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #838383;
    border-bottom: 2px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    background: #ffff;

}

.productCover .product .category .category-item.active {
    color: #070707;
    border-bottom-color: #070707;
}

.ItemCover {
    margin-top: 15px;
}

.ItemCover .container {
    width: 100%;
}

.ItemCover .singleItem {
    min-height: 600px;
    border: 1px solid #ebebeb;
    margin-bottom: 100px;
    transition: all 0.3s linear;
}

.ItemCover .singleItem:hover {
    border: 1px solid #070707;
}

.ItemCover .col-md-3 {
    padding: 0;
}

.ItemCover .singleItem .singleItemDetails .ItemImg img {
    width: 100%;
}

.ItemCover .singleItem .itemDetails {
    padding-left: 15px;
    margin-bottom: 10px;
}


.ItemCover .singleItem .itemDetails .brand .brandspan {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


.ItemCover .singleItem .itemDetails .itemtitle .titlespan {
    font-size: 14.5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.3px;
}


.ItemCover .singleItem .itemDetails .itemprice .pricespan {
    font-size: 12px;
    font-weight: 500;
}

.addWishlist {
    margin: 5px;

}

.singleItemDetails:hover .wishlistBtn {
    opacity: 1;
}



.addWishlist .wishlistBtn {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    font-size: 15px;
    line-height: 1;
    vertical-align: middle;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: all 0.3s linear;

}

.wishlistBtn .wishlistPath i {
    margin-left: 4px;
    margin-top: 5px;
}

.wishlistBtn .wishlistText span {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 5px;
}
.productbtns{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cartproduct {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 15px;
}

.cartproduct .ItemIncart {
    background: #070707;
    color: #ffff;
    text-transform: uppercase;
    padding: 9px 30px;
    font-size: 12px;
    font-weight: 700;
}
@media only screen and (max-width:1025px)
{
   
    .top .topRight .smallImg img{
        display: none;
    }
    .top .topRight .bigImg img {
        display: none;
    }
    .topRight .homeTitle .homeContent{
        margin-top: 80px;
    }
    .topRight .homeTitle .homeContent .text h2{
        font-size: 55px;
    }

}
@media only screen and (max-width:769px)
{
   
    .top .topRight .smallImg img{
        display: none;
    }
    .top .topRight .bigImg img {
        display: none;
    }
    .topRight .homeTitle .homeContent{
        margin-top: 40px;
        margin-left: 25px;
    }
    .topRight .homeTitle .homeContent .text h2{
        font-size: 45px;
        line-height: 50px;
    }
 
    .col-md-3 {
        flex: 0 0 auto;
        width: 33%;
    }
    .col-md-4{
        width: 50%;
    }
    .brands .brandCover .brandImg {
        max-width: 100px;
    }
    .ItemCover .singleItem {
        margin-bottom: 50px;
    }
    

}
@media only screen and (max-width:426px){
    .col-md-6{
        width: 100%;
    }
    .middle .filterItems .button.men {
        left: 35%;
    }
    .middle .filterItems .button {
        left: 28%;
    }
    .productCover .product .category .category-item{
        margin: 5px 12px;
        font-size: 11px;
    }
    .col-md-3{
        width: 50%;
    }
    .ItemCover .singleItem {
        margin-bottom: 30px;
    }
    .ItemCover .singleItem {
        min-height: 500px;
    }
    .col-md-4{
        width: 100%;
    }
}
@media only screen and (max-width: 321px)
{
.topRight .homeTitle .homeContent .text h2 {
    font-size: 33px;
    line-height: 35px;
}
}
