.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #fc5f49;
    color: #fff;
    font-weight: 800;
    border: none;
    z-index: 999;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top-btn.visible {
    display: block;
    opacity: 1;
  }
  